<form action="/users/<%= user._id %>?_method=PUT" method="post" role="form">
  <input type="hidden" name="_method" value="PUT" />
  <!-- 表单字段 -->
  <div class="form-group">
    <label for="userId">User ID <span style="color: red">*</span></label>
    <input
      type="text"
      class="form-control"
      id="userId"
      name="userId"
      value="<%= user.userId %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="account">Account <span style="color: red">*</span></label>
    <input
      type="text"
      class="form-control"
      id="account"
      name="account"
      value="<%= user.account %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="userName">User Name <span style="color: red">*</span></label>
    <input
      type="text"
      class="form-control"
      id="userName"
      name="userName"
      value="<%= user.userName %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="passWord">Password <span style="color: red">*</span></label>
    <input
      type="password"
      class="form-control"
      id="passWord"
      name="passWord"
      value="<%= user.passWord %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="phoneNumber"
      >Phone Number <span style="color: red">*</span></label
    >
    <input
      type="tel"
      class="form-control"
      id="phoneNumber"
      name="phoneNumber"
      value="<%= user.phoneNumber %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="email">Email <span style="color: red">*</span></label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      value="<%= user.email %>"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      title="Email format should be similar to xiongwang@126.com"
    />
  </div>

  <div class="form-group">
    <label for="role">Role <span style="color: red">*</span></label>
    <input
      type="text"
      class="form-control"
      id="role"
      name="role"
      value="<%= user.role %>"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Save Changes</button>
  <button
    type="reset"
    class="btn btn-secondary"
    onclick="window.location.href='/users/';"
  >
    Return
  </button>
</form>
