<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Care Task Information</title>
    <!-- 1.框架样式：Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- 2.图标样式：FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!--3.普通样式：Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- 4.字体样式：Google Fonts-->
    <link
      href="http://fonts.useso.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="wrapper">
      <!-- 顶部导航条 -->
      <%- include('../../block/top-navbar.ejs') %>
      <!-- 左侧导航条 -->
      <%- include('../../block/navbar-side.ejs') %>

      <div id="page-wrapper">
        <div class="header">
          <h1 class="page-header">
            Care Task Information
            <small>Care Task details.</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Care Task</li>
          </ol>
        </div>

        <div id="page-inner">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">Care Task Information</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <% careTasks.forEach(function(careTask) { %>
                      <form
                        action="/health/care/task/<%= careTask._id
                        %>?_method=PUT"
                        method="post"
                        role="form"
                      >
                        <div class="form-group">
                          <label for="elderlyId">
                            Elderly Information<span style="color: red">*</span>
                           : <%= careTask.elderlyId %> (<%=
                              careTask.elderlyName %>)
                          </label>
                          <input
                            type="hidden"
                            class="form-control"
                            id="elderlyId"
                            name="elderlyId"
                            value="<%= careTask.elderlyId %>"
                            required
                          />
                        </div>

                        <div class="form-group">
                          <label for="taskName" >Task Name <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="taskName"
                            name="taskName"
                            value="<%= careTask.taskName %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>
                          <input
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            value="<%= careTask.description %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="dueDate"
                            >Due Date<span style="color: red">*</span></label
                          >
                          <div class="input-wrapper">
                            <input
                              type="date"
                              class="form-control date-input"
                              id="dueDate"
                              name="dueDate"
                              value="<%= careTask.dueDate ? new Date(careTask.dueDate).toISOString().split('T')[0] : '' %>"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="carePlanId">
                            Care Plan ID (Name)
                            <span style="color: red">*</span>
                          </label>
                          <select
                            class="form-control"
                            id="carePlanId"
                            name="carePlanId"
                            required
                          >
                            <% if (carePlanIds && carePlanIds.length > 0) { %> <!-- 检查是否有员工ID -->
                              <% carePlanIds.forEach(function(carePlan) { %> <!-- 遍历每个员工ID -->
                                <option value="<%= carePlan.carePlanId %>" <%= careTask.carePlanId === carePlan.carePlanId ? 'selected' : '' %>>
                                  ID: <%= carePlan.carePlanId %> (<%= carePlan.planName %>)
                                </option>
                              <% }); %> <!-- 结束遍历 -->
                            <% } else { %> <!-- 处理没有员工ID的情况 -->
                              <option value="">No existing carePlanId</option>
                            <% } %> <!-- 结束检查 -->
                          </select>
                        </div>


                        <div class="form-group" style="display: none">
                          <label for="status">Status</label>
                          <select
                            class="form-control"
                            id="status"
                            name="status"
                            required
                          >
                          <option value="Pending" <%= careTask.status === "Pending"  ? 'selected' : '' %>>
                            Pending
                          </option>
                          <option value="In Progress" <%= careTask.status === "In Progress"  ? 'selected' : '' %>>
                            In Progress
                          </option>
                          <option value="Completed" <%= careTask.status === "Completed"  ? 'selected' : '' %>>
                            Completed
                          </option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="employeeId">
                            Employee Information<span style="color: red">*</span>
                          </label>
                          <select
                            class="form-control"
                            id="employeeId"
                            name="employeeId"
                            required
                          >
                            <% if (employeeIds && employeeIds.length > 0) { %>
                            <% employeeIds.forEach(function(employee) { %>
                            <option value="<%= employee.employeeId %>">
                              ID:<%= employee.employeeId %> (<%=
                              employee.employeeName %>)
                            </option>
                            <% }) %> <% } else { %>
                            <option value="">No existing employeeId</option>
                            <% } %>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="createdAt"> Created Time </label>
                          <div class="input-wrapper">
                            <input
                              type="date"
                              class="form-control date-input"
                              id="createdAt"
                              name="createdAt"
                              value="<%= careTask.createdAt ? new Date(careTask.createdAt).toISOString().split('T')[0] : '' %>"
                              required
                            />
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </form>
                      <% }) %>

                      <div id="message">
                        <% if (typeof message !== 'undefined' && message !==
                        null) { %>
                        <div class="alert alert-success"><%= message %></div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>

        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
 
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script>
      document.getElementById('status').addEventListener('change', function () {
        var rejectedReasonDiv = document.getElementById('additionalNotes');
        if (this.value === 'rejected' || this.value === 'approved') {
          rejectedReasonDiv.style.display = 'block';
        } else {
          rejectedReasonDiv.style.display = 'none';
        }
      });
    </script>

    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
  </body>
</html>
