<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <!--定义一个包含侧边栏内容的容器，class="sidebar-collapse"：应用自定义类，用于控制侧边栏的折叠状态-->
    <!--collapse:折叠收缩-->
    <ul class="nav" id="main-menu">
      <% navItems.forEach(item => { %>
        <% if (item.visible) { %>
          <li class="<%= (activePage === item.id) ? 'active-menu' : '' %>">
            <a href="<%= item.href %>">
              <i class="fa <%= item.icon %>"></i>
              <%= item.name %>
              <% if (item.subMenu.length > 0) { %>
                <span class="fa arrow"></span>
              <% } %>
            </a>
            <% if (item.subMenu.length > 0) { %>
              <ul class="nav nav-second-level">
                <% item.subMenu.forEach(subItem => { %>
                  <% if (subItem.visible) { %>
                    <li>
                      <a href="<%= subItem.href %>"><%= subItem.name %></a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% } %>
      <% }) %>
    </ul>
  
</nav>
