<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- 1.框架样式：Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- 2.图标样式：FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!--3.普通样式：Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- 4.字体样式：Google Fonts-->
    <link
      href="http://fonts.useso.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <!-- 5.表格样式：TABLE STYLES-->
    <link
      href="/assets/js/dataTables/dataTables.bootstrap.css"
      rel="stylesheet"
    />
  </head>
  frontend\views\block\top-navbar.ejs
  <body>
    <div id="wrapper">
      <!-- 顶部导航条 -->
      <%- include('../../block/top-navbar.ejs') %>
      <!-- 左侧导航条 -->
      <%- include('../../block/navbar-side.ejs') %>

      <div id="page-wrapper">
        <div class="header">
          <h1 class="page-header">
            Bed Management <small> Bed Information</small> 
          </h1>
          <ol class="breadcrumb">
            <!-- 面包屑导航 -->
            <li><a href="#">Home</a></li>
            <!-- 首页链接 -->
            <li><a href="#">Bed Management</a></li>
            <!-- 用户管理页面链接 -->
            <li class="active">BedStatus Data</li>
            <!-- 当前页：用户数据 -->
          </ol>
        </div>

        <!-- 页面内部内容 -->
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <!-- Advanced Tables -->
              <div class="panel panel-default">
                <div class="panel-heading">BedStatus Tables</div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered table-hover"
                      id="dataTables-example"
                    >
                      <thead>
                        <tr>
                          <th>bedID</th>
                          <th>status</th>
                          <th>actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% bedStatuses.forEach(function(bedStatus) { %>
                        <tr class="odd gradeX" style="white-space: nowrap">
                          <td><%= bedStatus.bedId %></td>
                          <td><%= bedStatus.status %></td>
                          <td>
                            <% linkItems.forEach(function(item) { %> 
                              <% if (item.id  ==='edit-bedStatus-link'&&item.visible) { %>
                              <a
                                id="<%= item.id %>"
                                href="/beds/status/<%= bedStatus._id %>/update"
                                class="editlink"
                                style="color: blue; display: inline"
                                >Edit
                              </a>
                              <% } %>
                               <% }); %>
                           
                            <% linkItems.forEach(function(item) { %> 
                              <% if (item.id  ==='delete-bedStatus-link'&&item.visible) { %>
                            <a
                              id="<%= item.id %>"
                              href="javascript:void(0)"
                              class="deleteLink"
                              style="color: red; padding: 5px; display: inline"
                              onclick="confirmDeletion('<%= bedStatus._id %>')"
                              >Delete</a
                            >
                            <% } %>
                            <% }); %>
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--End Advanced Tables -->
            </div>
          </div>
        </div>

        <footer>
          <p>
            Copyright &copy; 2016.Company name All rights reserved.<a
              target="_blank"
              href="http://sc.chinaz.com/moban/"
              >模板网站</a
            >
          </p>
        </footer>
      </div>
      <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        var table = $('#dataTables-example').DataTable();
      });
    </script>

    <!-- 在过滤器区域添加 "Add BedStatus" 按钮 -->
    <% buttonItems.forEach(function(item) { %> <% if (item.id === 'add-bedstatus-btn'
    && item.visible) { %>
    <script>
      $(document).ready(function () {
        $('#dataTables-example_filter').append(
          '<button id="<%= item.id %>" class="btn btn-primary add-bedstatus-btn" data-href="<%= item.href %>"><%= item.name %></button>',
        );

        // 处理 "Add BedStatus" 按钮点击事件
        $(document).on('click', '#<%= item.id %>', function () {
          var href = $(this).data('href'); // 获取按钮的 data-href 属性
          window.location.href = href; // 重定向到相应的链接
        });
      });
    </script>
    <% } %> <% }); %>
      <script>
    //处理动态生成的编辑链接点击事件
    $(document).on('click', '.editlink', function (event) {  //.edit-link是类
      event.preventDefault(); // 阻止默认行为
      var href = $(this).attr('href'); // 获取链接的 href 属性
      window.location.href = href; // 重定向到相应的链接
    });
 
</script>

    </script>
    <script>
      //3.添加删除对话框
      // 在实际运行时，confirmDeletion 函数接收到的 _id 参数就是 user._id 的值。
      async function confirmDeletion(_id) {
        if (confirm('Are you sure you want to delete this user?')) {
          try {
            const response = await fetch(`/beds/status/${_id}/delete`, {
              method: 'DELETE',
            });
            window.location.href = '/beds/status/';
            // const result = await response.json();
            // alert(result.message); // 显示反馈给用户
            location.reload(); // 刷新页面以更新用户表
          } catch (error) {
            alert('An error occurred while deleting the user.');
            console.error('Error:', error);
          }
        }
      }
    </script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
  </body>
</html>
