<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- 1.框架样式：Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- 2.图标样式：FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!--3.普通样式：Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- 4.字体样式：Google Fonts-->
    <link
      href="http://fonts.useso.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="wrapper">
      <!-- 顶部导航条 -->
      <%- include('../../block/top-navbar.ejs') %>
      <!-- 左侧导航条 -->
      <%- include('../../block/navbar-side.ejs') %>


      <div id="page-wrapper">
        <div class="header">
          <h1 class="page-header">
            Forms Page <small>Elderly  Record Form</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Data</li>
          </ol>
        </div>

        <div id="page-inner">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading"> New  Elderly  Record Form </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <form action="/elderly/record/create" method="post" role="form">
                      

                        <!-- <div class="form-group">
                          <label for="elderlyName">Elderly Name  <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="elderlyName"
                            name="elderlyName"
                            placeholder="Enter Elderly Name "
                            required
                          />
                        </div> -->

                        <div class="form-group">
                          <label for="elderlyName">Elderly Name <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="elderlyName"
                            name="elderlyName"
                            placeholder="Enter Elderly Name"
                            required
                            pattern="[\u4e00-\u9fa5a-zA-Z0-9]+"
                            title="Name must be in Chinese characters, English letters, or a combination of English letters and numbers."
                          />
                          <small class="form-text text-muted">
                            Please enter a name using Chinese characters, English letters, or a combination of English letters and numbers.
                          </small>
                        </div>
                        
                        

                        <div class="form-group">
                          <label for="photo">Photo <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="photo"
                            name="photo"
                            placeholder="Enter Photo Url "
                          />
                        </div>

                     
                        <div class="form-group">
                          <label for="elderlyPhone">Elderly Phone <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="elderlyPhone"
                            name="elderlyPhone"
                            placeholder="e.g., +86 13012345678"
                            required
                            pattern="\+86 (130|131|132|133|134|135|136|137|138|139|145|147|149|150|151|152|153|155|156|157|158|159|166|170|171|172|173|175|176|177|178|180|181|182|183|184|185|186|187|188|189|198|199)[0-9]{8}"
                            title="Format: +86 followed by a space, a valid prefix (e.g., 130), and eight additional digits (e.g., +86 13012345678)"
                          />
                          <small class="form-text text-muted">
                            Format: +86 followed by a space, one of the valid prefixes (e.g., 130), and eight more digits, e.g., +86 13012345678.
                          </small>
                        </div>
                        

                        <div class="form-group">
                          <label for="dateOfBirth">Birthday <span style="color: red">*</span></label>
                          <div class="input-wrapper">
                            <input
                              type="date"
                              class="form-control date-input"
                              id="dateOfBirth"
                              name="dateOfBirth"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="gender">Gender <span style="color: red">*</span></label>
                          <select class="form-control" id="gender" name="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="address">Address <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="e.g., 12 Building - 5 Unit - 3 Floor - 205 Room"
                            required
                            pattern="[0-9]+ Building - [0-5]+ Unit - [0-9]+ Floor - [0-9]+ Room"
                            title="Format: XX Building - XX Unit - XX Floor - XXX Room (e.g., 12 Building - 5 Unit - 3 Floor - 205 Room)"
                          />
                          <small class="form-text text-muted">
                            Format: XX Building - XX Unit - XX Floor - XXX Room (e.g., 12 Building - 5 Unit - 3 Floor - 205 Room)
                          </small>
                        </div>
                        
                        
                        
                        <div class="form-group">
                          <label for="emergencyContactName">Emergency Contact Name <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="emergencyContactName"
                            name="emergencyContactName"
                            placeholder="Enter Emergency Contact Name "
                            required
                          />
                        </div>

                      

                        <div class="form-group">
                          <label for="emergencyContactPhone">Emergency Contact Phone <span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="emergencyContactPhone"
                            name="emergencyContactPhone"
                            placeholder="e.g., +86 13012345678"
                            required
                            pattern="\+86 (130|131|132|133|134|135|136|137|138|139|145|147|149|150|151|152|153|155|156|157|158|159|166|170|171|172|173|175|176|177|178|180|181|182|183|184|185|186|187|188|189|198|199)[0-9]{8}"
                            title="Format: +86 followed by a space, a valid prefix (e.g., 130), and eight additional digits (e.g., +86 13012345678)"
                          />
                          <small class="form-text text-muted">
                            Format: +86 followed by a space, one of the valid prefixes (e.g., 130), and eight more digits, e.g., +86 13012345678.
                          </small>
                        </div>
                        
                        
                        <div class="form-group">
                          <label for="userId">
                            Unassigned User ID
                          </label>
                          <select
                            class="form-control"
                            id="userId"
                            name="userId"
                          >
                          <option value=" ">Not Set UserId</option>
                            <% if (userIds &&
                            userIds.length > 0) { %> <%
                              userIds.forEach(function(user)
                            { %>
                            <option
                              value="<%= user.userId %>"
                            >
                              ID:<%= user.userId %> (<%=
                              user.role %>)
                            </option>
                            <% }) %> <% } else { %>
                            <option value="">No existing userId</option>
                            <% } %>
                          </select>
                        </div>
                        
                        <div class="form-group">
                          <label for="employeeId">
                            Employee ID(Name)
                            <span style="color: red">*</span></label
                          >
                          <select
                            class="form-control"
                            id="employeeId"
                            name="employeeId"
                            required
                          >
                            <% if (employeeIds &&
                            employeeIds.length > 0) { %> <%
                              employeeIds.forEach(function(employee)
                            { %>
                            <option
                              value="<%= employee.employeeId %>"
                            >
                              ID:<%= employee.employeeId %> (<%=
                              employee.employeeName %>)
                            </option>
                            <% }) %> <% } else { %>
                            <option value="">No existing employeeId</option>
                            <% } %>
                          </select>
                        </div>

                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                        <button
                          type="reset"
                          class="btn btn-secondary"
                          onclick="window.location.href='/elderly/record/';"
                        >
                          Return
                        </button>
                      </form>
                    </form>
                    <div id="message" class="mt-3">
                      <% if (typeof message !== 'undefined' && message !== null) { %>
                        <div class="alert alert-success"><%= message %></div>
                      <% } %>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>

        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->s
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
  
  </body>
</html>
